<h1>Witaj! Potwierdź swój e-mail!</h1>

<p>
    Proszę potwierdź swój adres e-mail, klikając w poniższy link: <br><br>
    <a href="{{ signedUrl }}">Potwierdzam swój e-mail</a>.
    Ten link wygaśnie za {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Pozdrawiamy
    Zespół Wypożyczalni Gier Planszowych
</p>
